# Terraform
.terraform/
*.tfstate
.tfstate.
crash.log
crash.*.log
*.tfvars

# Environment variables
.env
.env.*

# Secrets
*.pem
*.key
*.crt

# Node
node_modules/
npm-debug.log*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db